<p id="notice"><%= notice %></p>

<h1>To Do</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do.each do |task| %>
      <tr>
       <%= render @to_do %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <p id="notice"><%= notice %></p> -->

<h1>Doing</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @doing.each do |task| %>
      <%= render @doing %>
    <% end %>
  </tbody>
</table>

<br>

<!-- <p id="notice"><%= notice %></p> -->

<h1>Done</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @done.each do |task| %>
      <tr>
        <%= render @done %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
